# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# dependencies
/node_modules
/.pnp
.pnp.js
/dist

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn Integrity file
.yarn-integrity
# IDE-specific files
.idea/
.vscode/

# Dependency directories
node_modules/
jspm_packages/
bower_components

# Build artifacts
build/

# Miscellaneous
.DS_Store
my-app*  # Replace with your app name

# Testing
template/src/__tests__/__snapshots/
lerna-debug.log

# Yarn-specific
.changelog
.npm/
yarn.lock
